@font-face {
  font-family: 'montserrat-regular';
  src: local('Montserrat Regular') url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-light-regular';
  src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-extra-light-regular';
  src: url('../fonts/montserrat/montserrat-extralight-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-extra-bold-regular';
  src: url('../fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-semibold';
  src: url('../fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-medium-regular';
  src: url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-regular';
  src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.container {
  width: 1920px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 1024px;
}


/* ---Menu---*/

.nav-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 60%;
}

nav {
  display: block;
}

.logo-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  top: 20px;
  align-items: center;
}

.logo {
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
}

.logo-svg {
  fill: #fff;
}

.logo-txt {
  font-family: 'raleway-regular', 'arial', sans-serif;
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
}

.logo:hover .logo-svg {
  fill: #998675;
  stroke: #36393c;
}

.logo:hover .logo-txt {
  color: #998675;
}

.logo:active .logo-svg {
  fill: orange;
  stroke: #36393c;
}

.logo:active .logo-txt {
  color: orange;
}

.nav-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 56px;
  width: 150px;
}

ul {
  list-style-type: none;
  width: 600px;
  min-height: 56px;
  /* можно попробовать задать min-width и max-width */
  padding: 0;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

ul li {}

ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}

ul li a:hover {
  color: #998675;
}

.bag-svg {
  fill: #fff;
}

.search-svg {
  fill: #fff;
}

.bag-svg :hover {
  fill: #998675;
}

.search-svg:hover {
  fill: #998675;
}

.btn-bag {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-search {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
}


/* ---Carousel---*/

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 1024px;
  display: flex;
  transition: transform 0.6s ease;
}

.carousel-control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
}

.carousel-control-left:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-bottom: 2px solid #d3c1ad;
  border-left: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: 25px;
}

.carousel-control-left:hover:after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.carousel-control-left:active:after {
  border-bottom: 2px solid orange;
  border-left: 2px solid orange;
}

.carousel-control-right:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

.carousel-control-right:hover:after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}
.carousel-control-right:active:after {
  border-top: 2px solid orange;
  border-right: 2px solid orange;
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-left {
  left: 30px;
}

.carousel-control-right {
  right: 30px;
}

.carousel-control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-item>div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}
/* 

.carousel-img-1 {
background-image: url('../img/header_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.carousel-img-2 {
background-image: url('../img/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    position: absolute;
}
 */

.carousel-pagination {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: 10%;
}

.carousel-pag-control {
  display: block;
  width: 11px;
  height: 11px;
  opacity: 0.5;
  background-color: #fff;
  border: 2px solid #d3c1ad;
  border-radius: 50%;
}

.carousel-pag-control:hover {
  border: 2px solid #fff;
  background-color: transparent;
}

.carousel-pag-control:active {
  border: 3px solid #d3c1ad;
  background-color: black;
}

.carousel-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 45%;
}

.carousel-title-h2 {
  display: block;
  font-family: 'raleway-medium-regular', 'arial', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}

.carousel-title-h1 {
  display: block;
  font-family: 'raleway-extra-bold-regular', 'arial', sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
}

.carousel-txt {
  display: block;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
}

.btn-carousel {
  display: flex;
  display: inline-flex;
  flex-position: center;
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  text-align: center;
  min-height: 25px;
  text-decoration: none;
  outline: none;
}

.btn-carousel-txt {
  display: block;
  font-family: 'raleway-extra-bold-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  margin: auto;
  text-align: center;
}

.btn-carousel:hover {
  background-color: #736356;
}

.btn-carousel:hover .btn-txt {
  color: #444;
}

.btn-carousel:active {
  background: #ccc;
}

.btn-carousel:active .btn-txt {
  color: white;
}

/* ---Options---*/

.options {
  padding: 50px;
}

.options-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: space-between;
}

.link-services {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  align-items: flex-end;
  color: black;
}

.link-services:hover svg {
  fill: #deb887;
}

.link-services:hover span {
  color: #deb887;
}

.link-services:hover:after {
  background-color: #deb887;
}

.link-services svg {
  fill: black;
}

.link-services span {
  font-family: 'raleway-semibold', 'arial', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  width: 100%;
  margin: 10px 0 0 0;
}

.link-services p {
  width: 100%;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}

.link-services:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: black;
}


/* ---Purchase---*/

.purchase {
  width: 100%;
  background-color: #fbfaf8;
}

.screenshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  item-align: center;
  padding-top: 50px;
}

.screenshots-title-container {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.screenshots-container {
  width: 65%;
  height: 480px;
  position: relative;
}

.browser-left {
  display: block;
  left: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  width: 770px;
  height: 400px;
}

.browser-center {
  display: block;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 770px;
  height: 482px;
  z-index: 3;
}

.browser-right {
  display: block;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
  width: 770px;
  height: 400px;
}

.browser-left:hover {
  z-index: 4;
}

.browser-right:hover {
  z-index: 4;
}

.title {
  font-family: 'raleway-semibold', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.txt {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
}

.purchase-now {
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 150px;
  width: 100%;
}

.purchase-txt-container {
  margin: auto;
  width: 45%;
}

.purchase-now-title {
  display: block;
  font-family: 'raleway-regular', 'arial', sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  width: 100%;
}

.purchase-now-company-name {
  color: #c7b299;
  padding: 0 0 0 0;
}

.purchase-now-txt {
  display: block;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
  width: 100%;
}

.purchase-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  item-align: center;
  height: 150px;
  width: 65%;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 150px;
  width: 45%;
  padding-right: 30px;
}

.btn {
  position: absolute;
  display: flex;
  display: inline-flex;
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3.0px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn:hover {
  background-color: #736356;
  /*   border-bottom: 3px solid #998675; */
}

.btn:hover .btn-txt {
  color: #ccc;
}

.btn:active .btn-txt {
  color: #fff;
}

.btn:active  {
  background-color: #ccc;
}


.btn-txt {
  margin: auto;
  font-family: 'raleway-extra-bold-regular', 'arial', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
}


/* ---Projects---*/

.projects {
  display: flex;
  width: 100%;
  height: 1200px;   
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.articles-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 66%;
  justify-content: space-around;
  align-items: center;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.article-preview {
  display: block;
  width: 370px;
  height: 350px;
  margin: 20px; 
  text-align: center;
  position: relative;
}

.article-preview-photo {
  display: block;
  width: 370px; 
  height: 237px;
}

.article-preview_wrapper-title {
  display: block;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  width: 370px;
  height: 100px;
  background-color: #fbfaf8;
}

.article-preview_wrapper-title:before {
  content: "";
  border: 15px solid transparent;	
  border-bottom: 15px solid #fbfaf8;
  position: absolute;
  top: -30px;
  left: 10px;
}

.article-preview-title {
  margin: 0;
  font-family:  'raleway-medium-regular', 'arial', sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}

.article-preview-txt {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}

.article-preview .link,
.article-preview .search {
  display: none;
  border: none;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}

.article-preview .link {
  top: 40%;
  left: 40%;
  width: 26px;
  height: 25px;
  background-image: url('../img/link.png');
}

.article-preview .search {
  top: 40%;
  left: 55%;
  width: 26px;
  height: 26px;
  background-image: url('../img/lupa.png');
}

.article-preview:hover .link,
.article-preview:hover .search {
  display: block;
}

.article-preview:hover .article-preview-photo {
  filter: brightness(30%);
}

.article-preview:hover .article-preview_wrapper-title {
  background-color: #362f2d;
}

.article-preview:hover .article-preview_wrapper-title:before {
  border-bottom: 15px solid #362f2d;
}

.btn-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.filters-container {
  padding: 30px;
}

.filter {
  display: flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  background-color: #fff;
  border: 1.0px solid #ebebeb;
  text-decoration: none;
    outline: none;
}

.filter-txt {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  padding: 0 15px 0 15px;
}

.filter:hover {
  background-color: #998675;
}

.filter:hover .filter-txt {
  color: #ffffff;
}

.filter:active {
  background: #ccc;
}

.filter:active .filter-txt {
  color: #fff;
}

/* ---Video---*/

.video-wrapper {
  display: flex;
  width: 100%;
  height: 705px;   
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.video-txt-container {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  top: 50%;
  position: absolute;
  z-index: 2;
}

.video-btn {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 3;
  background-image: url('../img/icon-play.png');
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  background-color: #000;
  border-radius: 50%;
  margin: auto;
}

 
.video-title {
  display: block;
  font-family:  'raleway-medium-regular', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}

.video-txt {
  display: block;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 28px;
  font-weight: 300;
  color: #fff;
}

.video-time {
  display: block;
  font-family: 'montserrat-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.video {
  display: block;
  position: absolute;
  width: 100%;
  height: 705px;
  z-index: 1;
  border: 2px solid black;
}

/* ---Mobile---*/

.mobile {
  width: 100%;
  height: 616px;
  background-color: #fbfaf8;
  padding-top: 50px; 
}

.mobile-wrapper  {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  item-align: flex-end;
}

.mobile-img {
  display: block;
  background-image: url('../img/iphone_in_hand.png');
  width: 423px;
  height: 616px;
  background-size: cover;
  background-repeat: no-repeat;
}

.mobile-txt-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 50%;  
  justify-content: center;
  align-items: flex-start;
}

.mobile-title {
  display: block;
  font-family: 'raleway-semibold', 'arial', sans-serif;
  font-size: 30px;
  line-height: 2;
  font-weight: 600;
  color: #555;
}

.mobile-txt {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.mobile-list {
  display: block;
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 16px;
  padding-left: 90px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: left;
}

.mobile-list-item {
  position: relative;
}

.mobile-list-item:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 7px;
  left: -40px;
  background-image: url('../img/tick.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---Stat---*/

.stat {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.stat-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: space-between;
  width: 55%;
  height: 180px;
}

.statistics {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  align-items: flex-end;

}

.screen-img-1:before {
  content: "";
  background-image: url('../img/icon_1.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
}

.screen-img-2:before {
  content: "";
  background-image: url('../img/icon_2.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 44px;
}

.screen-img-3:before {
  content: "";
  background-image: url('../img/icon_3.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
}

.screen-img-4:before {
  content: "";
  background-image: url('../img/icon_4.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
}

.screen-img-5:before {
  content: "";
  background-image: url('../img/icon_5.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 54px;
  height: 44px;
}

.statistics:hover img {
  fill: #deb887;
}

.statistics:hover span {
  color: #deb887;
}

.statistics:hover:after {
  background-color: #deb887;
}

.statistics svg {
  fill: black;
}

.number {
  font-family: 'montserrat-extra-light-regular', 'arial', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #fff;
  width: 100%;
  margin: 10px 0 0 0;
}

.stat-txt {
  width: 100%;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
}

.statistics:after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #fff;
}


/* ---Posts---*/

.posts {
  display: flex;
  width: 100%;
  height: 695px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.posts-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 60%;
  height: 695px;
  justify-content: center;
  align-items: center;
}

.posts-box {
  width: 60%;
  height: 500px;
}


/* ---Footer---*/

footer {
  display: block;
  width: 100%;
  height: 1108px;
  border: 2px solid pink;
}

.footer-clients {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 489px;
  background-image: url('../img/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.clients-logo {
  display: flex;
  width: 60%;
  height: 489px;
  justify-content: space-between;
  align-items: center;
}

.client-logo-1 {
  display: block;
  background-image: url('../img/client-logo-01.png');
  width: 210px;
  height: 127px;
  background-size: auto;
  background-repeat: no-repeat;
}

.client-logo-2 {
  display: block;
  background-image: url('../img/client-logo-02.png');
  width: 210px;
  height: 210px;
  background-size: auto;
  background-repeat: no-repeat;

}

.client-logo-3 {
  display: block;
  background-image: url('../img/client-logo-03.png');
  width: 210px;
  height: 130px;
  background-size: auto;
  background-repeat: no-repeat;
}

.client-logo-4 {
  display: block;
  background-image: url('../img/client-logo-04.png');
  width: 210px;
  height: 164px;
  background-size: auto;
  background-repeat: no-repeat;
}

.footer-medium {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 508px;
  background: #191919;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.column {
  width: 30%;
}

.footer-txt {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
}

.footer-copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 111px;
  background-color: #111;
}

.footer-wrapper-left {}

.footer-wrapper-right {}

.footer-txt {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-company-name {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #959595;
}

.footer-links-item {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #959595;
  text-decoration: none;
}