@font-face {
  font-family: 'montserrat-regular';
  src: local('Montserrat Regular') url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-light-regular';
  src: url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-extra-light-regular';
  src: url('../fonts/montserrat/montserrat-extralight-webfont.woff2') format('woff2'), url('../fonts/montserrat/montserrat-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-extra-bold-regular';
  src: url('../fonts/raleway/raleway-extrabold-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-bold';
  src: url('../fonts/raleway/raleway-bold-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-semibold';
  src: url('../fonts/raleway/raleway-semibold-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-medium-regular';
  src: url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-regular';
  src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'), url('../fonts/raleway/raleway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.container {
  width: 1920px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 1024px;
}


/* ---Menu---*/

.nav-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 60%;
}

nav {
  display: block;
}

.logo-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  position: absolute;
  top: 20px;
  align-items: center;
}

.logo {
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: capitalize;
}

.logo-svg {
  fill: #fff;
}

.logo-txt {
  font-family: 'raleway-regular', 'arial', sans-serif;
  color: #fff;
  font-size: 34px;
  font-weight: 400;
  text-align: right;
}

.logo:hover .logo-svg {
  fill: #998675;
  stroke: #36393c;
}

.logo:hover .logo-txt {
  color: #998675;
}

.nav-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 56px;
  width: 150px;
}

ul {
  list-style-type: none;
  width: 600px;
  min-height: 56px;
  /* можно попробовать задать min-width и max-width */
  padding: 0;
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

ul li {}

ul li a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
}

ul li a:hover {
  color: #998675;
}

.bag-svg {
  fill: #fff;
}

.search-svg {
  fill: #fff;
}

.bag-svg :hover {
  fill: #998675;
}

.search-svg:hover {
  fill: #998675;
}

.btn-bag {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
}

.btn-search {
  display: block;
  background-color: transparent;
  border: none;
  outline: none;
}


/* ---Carousel---*/

.carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 1024px;
  display: flex;
  transition: transform 0.6s ease;
}

.carousel-control {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
}

.carousel-control-left:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-bottom: 2px solid #d3c1ad;
  border-left: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: 25px;
}

.carousel-control-left:hover:after {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.carousel-control-right:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

.carousel-control-right:hover:after {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.carousel-control-left {
  left: 30px;
}

.carousel-control-right {
  right: 30px;
}

.carousel-control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.carousel-item>div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}

.carousel-pagination {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
  width: 10%;
}

.carousel-pag-control {
  display: block;
  width: 11px;
  height: 11px;
  opacity: 0.5;
  background-color: #fff;
  border: 2px solid #d3c1ad;
  border-radius: 50%;
}

.carousel-pag-control:hover {
  border: 2px solid #fff;
  background-color: transparent;
}

.carousel-pag-control:active {
  border: 3px solid #d3c1ad;
  background-color: black;
}

.carousel-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 45%;
}

.carousel-title-h2 {
  display: block;
  font-family: 'raleway-medium-regular', 'arial', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
}

.carousel-title-h1 {
  display: block;
  font-family: 'raleway-extra-bold-regular', 'arial', sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  color: #fff;
}

.carousel-txt {
  display: block;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #fff;
}

.btn-carousel {
  display: flex;
  display: inline-flex;
  flex-position: center;
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  text-align: center;
  min-height: 25px;
  text-decoration: none;
  outline: none;
}

.btn-carousel-txt {
  display: block;
  font-family: 'raleway-extra-bold-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  margin: auto;
  text-align: center;
}

.btn-carousel:hover {
  background-color: #736356;
}

.btn-carousel:hover .btn-txt {
  color: #444;
}

.btn-carousel:active {
  background: #ccc;
}

.btn-carousel:active .btn-txt {
  color: white;
}


/* ---Options---*/

.options {
  padding: 50px;
}

.options-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: space-between;
}

.link-services {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  align-items: flex-end;
  color: black;
}

.link-services:hover svg {
  fill: #deb887;
}

.link-services:hover span {
  color: #deb887;
}

.link-services:hover:after {
  background-color: #deb887;
}

.link-services svg {
  fill: black;
}

.link-services span {
  font-family: 'raleway-semibold', 'arial', sans-serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
  width: 100%;
  margin: 10px 0 0 0;
}

.link-services p {
  width: 100%;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}

.link-services:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: black;
}


/* ---Purchase---*/

.purchase {
  width: 100%;
  background-color: #fbfaf8;
}

.screenshots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  item-align: center;
  padding-top: 50px;
}

.screenshots-title-container {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.screenshots-container {
  width: 65%;
  height: 482px;
  position: relative;
}

.browser-left {
  display: block;
  left: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  width: 770px;
  height: 400px;
}

.browser-center {
  display: block;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 770px;
  height: 482px;
  z-index: 3;
}

.browser-right {
  display: block;
  right: 0;
  bottom: 0;
  z-index: 2;
  position: absolute;
  width: 770px;
  height: 400px;
}

.browser-left:hover {
  z-index: 4;
}

.browser-right:hover {
  z-index: 4;
}

.title {
  font-family: 'raleway-semibold', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.txt {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.purchase-now {
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 150px;
  width: 100%;
}

.purchase-txt-container {
  margin: auto;
  width: 45%;
}

.purchase-now-title {
  display: block;
  font-family: 'raleway-regular', 'arial', sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  width: 100%;
}

.purchase-now-company-name {
  color: #c7b299;
  padding: 0 0 0 0;
}

.purchase-now-txt {
  display: block;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
  width: 100%;
}

.purchase-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  item-align: center;
  height: 150px;
  width: 65%;
}

.btn-purchase-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 150px;
  width: 45%;
  padding-right: 30px;
}

.btn-purchase-now {
  position: absolute;
  display: flex;
  display: inline-flex;
  width: 170px;
  height: 50px;
  background-color: #998675;
  border-radius: 3.0px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-purchase-now:hover {
  background-color: #736356;
  /*   border-bottom: 3px solid #998675; */
}

.btn-purchase-now:hover .btn-txt {
  color: #ccc;
}

.btn-purchase-now:active .btn-txt {
  color: #fff;
}

.btn-purchase-now-txt {
  margin: auto;
  font-family: 'raleway-extra-bold-regular', 'arial', sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-align: center;
}


/* ---Projects---*/

.projects {
  display: flex;
  width: 100%;
  height: 695px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.projects-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 60%;
  height: 695px;
  justify-content: center;
  align-items: center;
}

.projects-box {
  width: 60%;
}


/* ---Video---*/

.video-wrapper {
  display: block;
  width: 100%;
  height: 705px;
  position: relative;
}

.video-btn {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  background-image: url('../img/icon-play.png');
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0.2;
  background-color: #000;
  border-radius: 50%;
  margin: auto;
}

.video {
  display: block;
  position: absolute;
  width: 100%;
  height: 705px;
  z-index: 1;
  border: 2px solid black;
}


/* ---Mobile---*/

.mobile {
  display: flex;
  width: 100%;
  height: 695px;
  background-color: #fbfaf8;
  justify-content: center;
  item-align: center;
}

.mobile-wrapper {
  display: flex;
  justify-content: flex-end;
  item-align: flex-end;
  width: 60%;
  padding-top: 80px;
}

.mobile-img {
  display: block;
  background-image: url('../img/iphone_in_hand.png');
  display: block;
  width: 423px;
  height: 616px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: right;
}

.mobile-txt-container {
  width: 60%;
  padding: 80px 30px 80px 20px;
}

.mobile-title {
  display: block;
  font-family: 'raleway-semibold', 'arial', sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555;
  padding: 30px;
}

.mobile-txt {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.mobile-list {
  display: block;
  width: 100%;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 16px;
  padding-left: 90px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: left;
}

.mobile-list-item {
  position: relative;
}

.mobile-list-item:before {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  /* background-color: #c7b299; */
  position: absolute;
  top: 7px;
  left: -40px;
  background-image: url('../img/tick.png');
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* ---Stat---*/

.stat {
  display: flex;
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
}

.stat-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: space-between;
  width: 55%;
  height: 180px;
}

.statistics {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  align-items: flex-end;
  color: black;
}

.statistics:hover img {
  fill: #deb887;
}

.statistics:hover span {
  color: #deb887;
}

.statistics:hover:after {
  background-color: #deb887;
}

.statistics svg {
  fill: black;
}

.statistics span {
  font-family: 'montserrat-extra-light-regular', 'arial', sans-serif;
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #fff;
  width: 100%;
  margin: 10px 0 0 0;
}

.statistics p {
  width: 100%;
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
}

.statistics:after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: #fff;
}


/* ---Posts---*/

.posts {
  display: flex;
  width: 100%;
  height: 695px;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.posts-wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 60%;
  height: 695px;
  justify-content: center;
  align-items: center;
}

.posts-box {
  width: 60%;
  height: 500px;
}


/* ---Footer---*/

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 111px;
  background-color: #111;
}

.footer-wrapper-left {}

.footer-wrapper-right {}

.footer-txt {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.footer-company-name {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #959595;
}

.footer-links-item {
  font-family: 'montserrat-light-regular', 'arial', sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #959595;
  text-decoration: none;
}